/*General Styling */
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}



body{
    margin:0;
    padding:0;
    
}


.wrapper{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    position: relative;
}

/* Navbar */


.navbar {
  background-color: #F76262;
  font-family: 'Roboto';
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 215px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.navbar.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.navbar.show ul.nav-links li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.show ul.nav-links li:nth-child(1) { transition-delay: 0.15s; }

nav.show ul.nav-links li:nth-child(2) { transition-delay: 0.3s; }

nav.show ul.nav-links li:nth-child(3) { transition-delay: 0.45s; }

nav.show ul.nav-links li:nth-child(4) { transition-delay: 0.6s; }


@media (min-width: 667px) {

.navbar {
   padding: 120px 90px 70px 90px; 
  }

}

.navbar ul.nav-links { 
  list-style-type: none;
 }

.navbar ul.nav-links li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar ul.nav-links li:last-of-type { margin-bottom: 0px; }

.navbar ul.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar ul.nav-links li a span { 
  color: #011627;
}

.navbar ul.nav-links li a:hover { 
  color: #011627;
 }




@media only screen and (max-width:768px){
    body{
        
        margin:0;
        padding:0;
    }
    .wrapper{
      overflow-x: hidden;
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      position: relative;
    }

    
  }


/*  BURGER
========================================== */

.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 999;

}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before { top: -9px; }

.burger span::after { top: 9px; }

.burger.clicked span { background-color: transparent; }

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before, .burger.clicked span:after { background-color: #011627; }

.burger:hover { cursor: pointer; }

.projects{
  background-color:#ffffff;
}
/*  OVERLAY
========================================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #293462;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}








.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0%;
    background: url('./Images/landing.JPG'), no-repeat center center fixed;
    background-size: cover;
    background-position: 10%;
    
}

/* Rectangle 6 */
.rectangle6{
position: absolute;
width: 411px;
height: 105px;
left: 20%;
top: 405px;
background: #F76262;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* NOAH SAM */
.title{
position: absolute;
width: 100%;
height: 105px;
top: -45%;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #FCFCFC;
}
/* A full stack web developer bringing my code and your ideas, together. */
.description{
    position: absolute;
    width:100%;
    height: 61px;
    left: 0%;
    top: 83%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

/* Rectangle 7.1 */
.rectangle25{
position: relative;
width: 102px;
height: 28px;
left: 65%;
padding-left:2%;
top:110%;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #FFF;
background: #F76262;
}

.rectangle5{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0px;
    background: rgba(33, 101, 131, 0.45);
    mix-blend-mode: overlay;
    }
@media only screen and (max-width: 600px){
.rectangle25 {
 position: relative;
 width: 102px;
 height: 28px;
 left: 65%;
 padding-left:2%;
 top:110%;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: bold;
 font-size: 24px;
 z-index: -2;
 color: #FFF;
 background: #F76262;
}
.description{
 position: absolute;
 width:100%;
 height: 61px;
 left: 0%;
 top: 83%;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: bold;
 font-size: 24px;
 line-height: 28px;
 text-align: left;
 color: #FFFFFF;           
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }   
 .rectangle6{
 position: absolute;
 width: 411px;
 height: 105px;
 left: 3%;
 top: 140px;
 background: #F76262;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
                
 /* NOAH SAM */
.title{
 position: absolute;
 width: 100%;
 height: 105px;
 top: -45%;
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: bold;
 font-size: 64px;
 line-height: 75px;
 text-align: center;
 color: #FCFCFC;
 } 
 }


#portfolio{
 position: relative;
 overflow: hidden;

 box-sizing: border-box;
 justify-content: center;
 align-content: center;
 
 background: #FFF1C1;
 z-index: 1;  
       


}
.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;

}
.grid {
	pointer-events: none;
	position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	display: grid;
	grid-template-columns: repeat(50,2%);
	grid-template-rows: repeat(50,2%);
}

.grid__item {
	position: relative;
}

.grid--img .grid__item {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform;
}

.grid__item-img {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.grid--img .grid__item-img {
	flex: none;
	width: calc(100% + 100px);
	height: calc(100% + 100px);
	
}

.pos-1 {
	grid-area: 10 / 1 / 26 / 7;
}

.pos-2 {
	grid-area: 1 / 18 / 9 / 27;
}

.pos-3 {
	grid-area: 30 / 36 / 14 / 42;
}
.pos-4 {
	grid-area: 13 / 11 / 32 / 18;
}
.pos-5 {
  grid-area: 40 / 2 / 56 / 15;
}
.pos-6 {
  grid-area: 30 / 31 / 44 / 42;
}

.content__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 4vw;
	margin: 0;
	line-height: 1.5;
	position: relative;
}

.content__title-sub {
	color: var(--color-content-title-sub);
	font-size: 7vw;
	display: block;
	margin-left: 1vw;
	line-height: 0.5;
}

.port_href{
  color: #011627;
}
.port_href:visited{
  color: #011627;
}
.port_href:hover{
  transition: ease-in-out 0.3s;
  color: #e95555;
}
@media only screen and (max-width:768px){
  #portfolio{
    padding-top: 10%;
    width: 100%;
    min-height: 1080px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    padding-left: 23%; 
    background: #FFF1C1;
    z-index: 1;           
   }
 .text{ 
  z-index: 0;
  font-size: 300%;
  position: absolute;
  color: #011627;
  padding-top: 40%;
 }
 .grid {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
  left:-15%;
	display: grid;
	grid-template-columns: repeat(50,2%);
	grid-template-rows: repeat(50,2%);
}
 .pos-1 {
	grid-area: 3 / 87 / 12 / 9;
}

.pos-2 {
	grid-area: 1 / 12 / 9 / 2;
}

.pos-3 {
	grid-area: 30 / 36 / 14 / 42;
}
.pos-4 {
	grid-area: 13 / 1 / 22 / 28;
}
.pos-5 {
  grid-area: 40 / 2 / 56 / 25;
}
.pos-6 {
  grid-area: 30 / 31 / 44 / 42;
}

.content__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 4vw;
	margin: 0;
	line-height: 1.5;
  left:-25%;
	position: relative;
}

.content__title-sub {
	color: var(--color-content-title-sub);
	font-size: 7vw;
	display: block;
  
	line-height: 0.5;
}

}




#contact{
position: relative;
width: 100%;
height: 100%;

background: #293462;
color: #FFF1C1;
font-family: 'Roboto';
text-align: center;
font-size:150%; 
overflow: hidden;
}
#contact h2{
  padding-top: 5%;
}


.para-creative{
  border: solid 5px #F76262;
  margin: 0% 15% 0% 15%;
}
.para-creative p{
  text-align: justify;
  padding: 5% 15% 5% 15%;
  line-height: 1.4em;
  color: #FFF1C1;
  font-weight: bold;
}
@media only screen and (max-width:768px){
  #contact{
    position: relative;
    width: 100%;
    height: 100%;
    
    background: #293462;
    color: #FFF1C1;
    font-family: 'Roboto';
    text-align: center;
    font-size:100%; 
    overflow: hidden;
    }
  .contact h2{
    padding: 5%;
  }
  .para-creative p{
    text-align: left;
    padding: 5% 15% 5% 15%;
    line-height: 1.4em;
    color: #FFF1C1;
    font-weight: bold;
  }

}

.start{
  margin-top:-2%;
}
.start p{
  margin:2%;
}

.socials{
  margin-top:5%;
  max-width: 50%;
  padding-bottom:10%;
  margin-left:25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.fab {
  font-size: 40px; 
  color: #FCFCFC;
}

.fab:hover{
  color:#F76262;
  transition : ease-in-out 0.3s;
}
.highlight{
  background: #F76262;
  padding: 1% 2% 1% 2%;
  display:inline;
  color: #293462;
  font-weight: bold;
  font-size:45px;
  
}

@media only screen and (max-width:768px){
  .highlight{
    background: #F76262;
    padding: 1% 2% 1% 2%;
    display:inline;
    color: #293462;
    font-weight: bold;
    font-size:25px;
    
  }
}




/* PROJECTS PAGE */

.wrapper-projects{

  background: linear-gradient(to bottom, #F76262 ,#011627);
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: 100%;
  

}
.project-content{
  background: #FCFCFC;
  margin: 0% 15% 0% 15%;
  padding: 5% 5% 10% 8%;
  border-radius: 5px;
  color: #011627;
  font-family: 'Roboto';
  font-style: normal;

}
.project-box{
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
}
.project-box a{
  color: rgb(209, 68, 68);
  padding: 2px;
}
.project-box a:hover{
  border-bottom: #0e2375 2px solid;


}
.project-box-l{
  width: 85%;
  
}
.project-box-l p{
  line-height: 1.5em;
}
.project-box-l h3{
  border: #F76262 5px solid;
  width: max-content;
  padding: 5px;
  background-color: #F76262;
}
.skillset{
  border-left: #F76262 2px solid;
  padding: 1% 0% 1% 5%;
  
}
.project-box-r{
  margin-left:10%;
}
.project-box-r img{

    padding-top:5%;
    max-width: 400px;
    max-height: 300px;
    border: 2px solid #011627;
    border-radius:2px;
}

.allskill ul li{
  display: inline-block;
  padding:2%;

}


@media only screen and (max-width:768px){
  .wrapper-projects{

    background: linear-gradient(to bottom, #F76262 ,#011627);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 100%;
    
  
  }
  .project-content{
    background: #FCFCFC;
    margin: 0% 2% 0% 2%;
    padding: 5% 5% 10% 8%;
    border-radius: 5px;
    color: #011627;
    font-family: 'Roboto';
    font-style: normal;
  
  }
  .project-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 15%;
  }
  .project-box a{
    color: rgb(209, 68, 68);
    padding: 2px;
  }
  .project-box a:hover{
    border-bottom: #0e2375 2px solid;
  
  
  }
  .project-box-l{
    width: 85%;
    
  }
  .project-box-l p{
    line-height: 1.5em;
  }
  .project-box-l h3{
    border: #F76262 5px solid;
    width: max-content;
    padding: 5px;
    background-color: #F76262;
  }
  .skillset{
    
    padding: 1% 0% 1% 5%;
    
  }
  .project-box-r{
    margin-left:10%;
  }
  .project-box-r img{
  
      padding-top:5%;
      max-width: 100px;
      max-height: 200px;
  }
  .allskill ul li{
    display: inline-block;
    padding:2%;
    
  
  }

      }