body{
    margin:0;
    padding:0;

}


.wrapper{
    margin: 0%;
    padding: 0%;

    box-sizing: border-box;
    position: relative;
}
section{
    
}
/* Navbar */

.navbar{
    width: 100%;
    display: flex;
    z-index: 0;     
    justify-content: space-around;
    min-height: 8vh;
    background:#293462;
    font-family: 'Roboto', sans-serif;
}
.logo{
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:20px;
    margin: 0%;
    padding: 0%;
}
.nav-links{
    display:flex;
    justify-content:space-around;
    width: 30%;
    padding-top:10px;
    
}
.nav-links a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    
}
.nav-links li{
    list-style: none;
}
.burger {
    padding-top: 23px;
    display: none;
    cursor: pointer;
}
.burger div{
    margin-top: 27px;
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin:5px;
    transition: all ease-in 0.3s;
}

@media only screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        display:flex;
        right: 0%;
        top: 8vh;
        height:92vh;
        flex-direction: column;
        background-color: #0e2375;
        align-items: center;
        width: 30%;
        padding: 0%;
        transition: ease-in 0.5s;
        margin-top:0%;
       transform: translateX(100%);
    }
    .navbar{
        display:flex;
        height: 8vh;
    }
    .logo{
        padding-left: 5%;
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
        z-index: 999;
        
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform:translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.landing{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0%;
    background: url(file:///C:/Site%20V2/Images/IMG-0553.JPG), no-repeat center center fixed;
    background-size: cover;
    background-position: 10%;
    
}

/* Rectangle 6 */
.rectangle6{
position: absolute;
width: 411px;
height: 105px;
left: 20%;
top: 405px;
background: #F76262;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* NOAH SAM */
.title{
position: absolute;
width: 100%;
height: 105px;
top: -45%;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #FCFCFC;
}
/* A full stack web developer bringing my code and your ideas, together. */
.description{
    position: absolute;
    width:100%;
    height: 61px;
    left: 0%;
    top: 83%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

/* Rectangle 7.1 */
.rectangle25{
position: relative;
width: 102px;
height: 28px;
left: 65%;
padding-left:2%;
top:110%;
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 24px;
z-index: -2;
color: #FFF;
background: #F76262;
}

.rectangle5{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0px;
    z-index: 15;
    background: rgba(33, 101, 131, 0.45);
    mix-blend-mode: overlay;
    }
@media only screen and (max-width: 600px){
    .rectangle25{
        position: relative;
        width: 102px;
        height: 28px;
        left: 65%;
        padding-left:2%;
        top:110%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        z-index: -2;
        color: #FFF;
        background: #F76262;
        }
        .description{
            position: absolute;
            width:100%;
            height: 61px;
            left: 0%;
            top: 83%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            color: #FFFFFF;
            
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }   
            .rectangle6{
                position: absolute;
                width: 411px;
                height: 105px;
                left: 10%;
                top: 140px;
                background: #F76262;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                
                /* NOAH SAM */
                .title{
                position: absolute;
                width: 100%;
                height: 105px;
                top: -45%;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 75px;
                text-align: center;
                
                color: #FCFCFC;
                } 
            }


            #portfolio{

              padding-top: 10%;
              width: 100%;
              min-height: 1080px;
              box-sizing: border-box;
              justify-content: center;
              align-content: center;
              display: flex;
              background: #FFF1C1;
              z-index: -1;
              
            }

            .text{
              z-index: 0;
              font-size: 1000%;
              position:absolute;
              -webkit-text-fill-color: #FFF1C1;
              -webkit-text-stroke-color: #011627;
              -webkit-text-stroke-width: 1px;
              
              visibility: hidden;
            }
            .text:hover{
              transition: ease-in-out 0.7s;
              -webkit-text-fill-color: #011627;
            }
.moggle{
   -webkit-text-fill-color: #011627 ;
   transition: 0.5s ease-in;
   animation: slider .7s ease-in;
   visibility: initial;
   opacity: 1;
 }
@keyframes slider{
 0%{
 transform: translateX(-500px);
 -webkit-text-fill-color: #FFF1C1;
 }
 60%{
   transform: translateX(0px);
   -webkit-text-fill-color: #FFF1C1;
 }
 65%{
   transform: translateX(30px);
   -webkit-text-fill-color: #FFF1C1;
 }
   100%{
  transform: translateX(0px);
  -webkit-text-fill-color: #011627 ;
 
    }
}
.moggle-exit{
  animation: exiter .7s ease-out;
  visibility: initial;
  opacity: 1;
}
@keyframes exiter {
  0%{
    -webkit-text-fill-color: #011627;
  }
  100%{
    -webkit-text-fill-color: #FFF1C1;
  }

}
@media only screen and (max-width:768px){
 .text{ 
z-index: 0;
font-size: 300%;
position: absolute;
color: #011627;
padding-top: 40%;
 }
.container{
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  font-family: 'Roboto';
  font-style: normal;
}
.container .card {
  position: relative;
  margin-right:5%;
  padding-left: 35%;
 }
}
 .container{
width: 1000px;
position: relative;
display: flex;
justify-content: space-between;
z-index: 1;
font-family: 'Roboto';
font-style: normal;
}
.container .card {
position: relative;
margin-right:5%;
}
            .container .card .face{
              width: 300px;
              height: 170px;
              transition: 0.5s;
            }
            .container .card .face.face1{
              position: relative;
              display: flex;
              background: #0e2375;
              justify-content: center;
              align-items: center;
              z-index:1;
              transform: translateY(100px);
            }
            .container .card:hover .face.face1{
              background: #0e2375;
              transform: translateY(0);
            }
            .container .card .face.face1 .content{
              opacity: 1;
              transition: 0.5s;
            }
            .container .card:hover .face.face1 .content{
              opacity: 1;
              
            }
            .container .card .face.face1 .content img{
              max-width: 300px;
              
            } 
            .container .card .face.face1 .content h3{
              margin: 10px 0 0;
              padding: 0;
              color: #011627;
              text-align: center;
              font-weight: 1.5em;
              opacity: 0;
            }
            .container .card:hover .face.face1 .content h3{
              margin: 10px 0 0;
              padding: 0;
              color: #011627;
              text-align: center;
              font-weight: 1.5em;
              opacity: 1;
            }
            .container .card .face.face2{
              position: relative;
              background:#F76262;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 20px;
              box-sizing: border-box;
              transform: translateY(-100px);
            }
            .container .card:hover .face.face2{
              transform: translateY(0);
            }
            .container .card .face.face2 .content p{
              margin: 0px;
              padding:0px;
            }
            .container .card .face.face2 .content a{
              margin: 15px 0px 0px;
              display: inline-block;
              text-decoration: none;
              font-weight: 900;
              color: #011627;
              padding: 5px;
              border: #011627 1px solid;
            }
 .container .card .face.face2 .content a:hover{
   background: #011627;
   color:#FFF; 
   }
.card-img{
  max-width: 300px;
  max-height: 200px;
 }
#contact{
position: relative;
width: 100%;
height: 100%;
padding: 5% 0% 0% 0%;
background: #293462;
color: #FFF1C1;
font-family: 'Roboto';
text-align: center;
font-size:150%; 
overflow: hidden;
}
#contact h2{
  padding-top: 5%;
}
.line{
  background-color: #F76262;
  padding: 2px;
  margin-bottom:1%;
}

.para-creative{
  border: solid 5px #F76262;
  margin: 0% 15% 0% 15%;
}
.para-creative p{
  text-align: justify;
  padding: 5% 15% 5% 15%;
  line-height: 1.4em;
  color: #FFF1C1;
  font-weight: bold;
}
@media only screen and (max-width:768px){
  .contact h2{
    padding: 5%;
  }
  .para-creative p{
    text-align: left;
    padding: 5% 15% 5% 15%;
    line-height: 1.4em;
    color: #FFF1C1;
    font-weight: bold;
  }

}

.start{
  margin-top:-2%;
}
.start p{
  margin:2%;
}

.socials{
  margin-top:-2%;
  padding-right: 40px;
  margin-bottom:2%;
}
.socials ul{
  display: inline-block;
  text-decoration: none;
  list-style: none;
  text-align: center;
  
}
.socials ul li{
  display: inline;
  padding:5px 25px 5px 25px;
}

.fab {
  font-size: 40px; 
  color: #FCFCFC;
}

.fab:hover{
  color:#F76262;
  transition : ease-in-out 0.3s;
}
.highlight{
  background: #F76262;
  padding: 1% 2% 1% 2%;
  display:inline;
  color: #293462;
  font-weight: bold;
  font-size:45px;
  
}

@media only screen and (max-width:768px){
  .highlight{
    background: #F76262;
    padding: 1% 2% 1% 2%;
    display:inline;
    color: #293462;
    font-weight: bold;
    font-size:25px;
    
  }
}